<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About Us</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<header class="masthead">
		<h1 class="masthead-heading">Tweetful</h1>
		<p class="masthead-intro">Making The Internet a Little More Thoughtful</p>
	</header>
	
	<div class="info-container">
		<section class="info">  
			<header>
				<h2>About Tweeful</h2>
			</header>
			<p>
				Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum.
			</p>
		</section>

		<section class="info">  
			<header>
				<h2>What Makes Us Different</h2>
			</header>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam repellat soluta, error molestias unde, optio. Architecto quia ad quibusdam, deleniti sunt culpa qui dolorem, cum corporis veritatis natus alias! Minus!
			</p>
		</section>

		<section class="info">  
			<header>
				<h2>Company History</h2>
			</header>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae fugiat, sed pariatur ab quaerat sit, nam voluptate hic laudantium nihil est eveniet saepe distinctio consequuntur fugit aliquid voluptatem minima soluta?
			</p>
		</section>
	</div>

	<footer>
		Contact us: <span>admin@tweetful.io</span>
	</footer>
</body>
</html>